* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(--scheme-based-bg-color);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
}

/* .colors{
  blue: hsl(238, 40%, 52%);
 red: hsl(358, 79%, 66%);
  blue: hsl(239, 57%, 85%);
red: hsl(357, 100%, 86%);


blue: hsl(212, 24%, 26%);
Blue: hsl(211, 10%, 45%);
 gray: hsl(223, 19%, 93%);
gray: hsl(228, 33%, 97%);
White: hsl(0, 0%, 100%);
} */