* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  background-color: hsl(var(--neutral-very-light-gray));
}

.app {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 45rem;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
  padding: 2rem 1rem;
}

.scoreUpDownButton{
  fill: #C5C6EF;
}

.scoreUpDownButton:hover {
  fill: hsl(var(--primary-moderate-blue));
}

.replyIcon{
  fill: #5357B6;
}
.replyIcon:hover {
  fill: hsl(var(--primary-light-grayish-blue));
}
.editIcon{
  fill: #5357B6;
}
.editIcon:hover {
  fill: hsl(var(--primary-light-grayish-blue));
}
.deleteIcon{
  fill: #ED6368;
}
.deleteIcon:hover {
  fill: hsl(var(--primary-pale-red));
}